# Environment Variables MEMITRAN Database & Server

# Port untuk Backend Express API Server
PORT=3001

# URL Database PostgreSQL (Prisma)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/memitran_db?schema=public"

# Frontend Public API URL (Untuk Production Custom Domain)
VITE_API_URL="https://kerjasamagunungkidul.com/api"
