# Environment Variables MEMITRAN Database & Server

# Port untuk Backend Express API Server
PORT=3001

# URL Database MySQL (XAMPP - Prisma)
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:@localhost:3306/memitran_db"

# Frontend Public API URL (Untuk Production Custom Domain)
VITE_API_URL="https://kerjasamagunungkidul.com/api"
